{{#statement}}
  <article id={{statement_id}}>
    <header>
      <div class="buttons">
        <a href={{siblings_url}}>
          {{siblings_label}}
        </a>
      </div>
      <a href={{statement_url}}>
        {{title}}
      </a>
      <span>{{echos}}</span>
    </header>
    <section class="content">
      {{text}}
    </section>
    <footer class="children">

    </footer>

  </article>
{{/statement}}